<html>
<head>
<title>荣飞通讯综合缴费系统-V1.0</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="../cssimg/style.css" rel="stylesheet" type="text/css" />
</head>
<body id="loginbody">


	<div id="loginbox">
		<div id="logininbox">
			<div id="logininput">
<form name="form_0_systemuser" action ="__FORMACTION__" onsubmit="return script_juge(this);" method="post">
				<table width="100%" height="56" border="0" cellpadding="0" cellspacing="0">
					<tr>
					<td width="20">&nbsp;</td>
					<td width="28"><img src="../cssimg/img/icon_username.gif" width="28" height="28" /></td>
					<td>用户名：
					<label>
					<input name="loginame_登录名称_textboxen_4_20_1_0" type="text" size="10" />
					</label></td>
					<td width="28"><img src="../cssimg/img/icon_password.gif" width="28" height="28" /></td>
					<td>密码：
					<input name="passwd_登录密码_textboxen_4_20_1_0" type="password" size="10" /></td>
					<td>验证码：
					<input name="chkCode" type="text" size="5" /></td>
					<td width="75"><img src="../modules/checkCode/madeImg.php"" width="65" height="22" /></td>
					<td width="60"><img src="../cssimg/img/btn_login.gif" width="55" height="19" onclick="javascript:if ( script_juge(form_0_systemuser)) {document.form_0_systemuser.submit();}" style="cursor:hand"/></td>
					<td width="20">&nbsp;</td>
					</tr>
				</table>
</form>
			</div>
		</div>
	</div>
</body>
</html>
