<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>用户表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/cssimg/style.css" type="text/css">
</head>
__JAVASCRIPT__
<body>

<table width="95%" align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#fAfAfA" id="commtable">
    <tr bgcolor="#efefef" class="tablett">
        <td width="20">&nbsp;</td>
        <td height=30 align="center">ip地址</td>
        <td align="center">所属集群</td>
    </tr>

<form action="__FORMACTION__" name="form_3_webtask.serverList" method="post" onsubmit="return script_juge(this);">
    <!--mapdata-->
    <tr>

        <td align="center"><input type="checkbox" name="id_编号_integer_1_10_0_1[]" value="__ID__"></td>
        <td height=30 align="center">__IP__</td>
        <td align="center">__CLUSTERNAME__</td>
    </tr>
    <!--mapdata-->
<tr>
        <td colspan="5" height=30>__BUTTOMSTR__</td>
    </tr>
</form>

</table>
</body>
</html>