<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>用户表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="../../cssimg/style.css" type="text/css">
</head>


<body>
<div id="mainbox">
    <div id="userinfobox">
        <div id="userinfoinbox">
            <br/>

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="30" class="blueb14">修改用户信息</td>
                </tr>
            </table>
            <form name="form_2_test_1" action="__FORMACTION__" method="post" onsubmit="return script_juge(this);">
                <table align="center" cellpadding="0" cellspacing="0" border="0" width="800" style="font-size: 12px;">

                    <tr>
                        <td align="right" height="30"><b>用户名：</b></td>
                        <td align="left"><input type="text" name="username_用户名_textboxen_2_30_1_1"value="__USERNAME__" style="width:150px;height:18px;"></td>
                    </tr>
                    <tr>
                        <td align="right" height="30"><b>密码：</b></td>
                        <td align="left"><input type="password" name="password_密码_textboxen_1_4_1_1" value="__PASSWORD__" style="width:150px;height:18px;"></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan=2 align="center"><input type="submit" name="button_submit" value="保 存">&nbsp;
                            <input type="button" name="button_submit1" value="返 回" onclick="window.history.back();">
                        </td>
                    </tr>
                </table>
        </div>
    </div>
</div>
</form>
</body>
</html>