<html>
<head>
<title>__TITLE__-新建项</title>
</head>
<body>
<form name="form___OPT_TYPE___treemenu" method=post action=/kernel.php?module=menu&app=menuopt&menuflag=__FLAG__ onsubmit='javascript:return script_juge(this);'>
结点名称：<input type=text name="MenuName_结点名称_textboxen_3_40_1_1" size=40 maxlength=40 value="__MENUNAME__"><br>
显示顺序号：<input type=text name="SortValue_顺序号_integer_1_4_1_1" size=40 maxlength=40 value="__SORTVALUE__"><br>
<b><font color=red>定义格式:</font></b>__INFLUENCELISTEXAMPLE__<br>
显示权限项：<input type=text name="InfluenceItemList_权限列表定义_textboxen_1_280_1_1" size=170 maxlength=280 value="__INFLUENCELIST__"><br>
自定义权限显示项：<input type=text name="customInfluenceItemList_自定义权限列表_textboxen_0_280_1_1" size=170 maxlength=280 value="__CUSTOMINFLUENCEITEMLIST__"><br>
模块地址：<input type=text name="MenuLink_结点链接_url_3_200_1_1" size=200 maxlength=200 value="__MENULINK__"><br>
<input type=hidden name="menuID_父结点_integer_1_10_1_1" size=40 maxlength=40 value="__MENUID__"><br>
<input type=submit name=button_tmp1 value="保存">
<input type=button name=button_tmp1 value="关闭" onclick='javascript:window.close();'>
</form>
</body>
</html>