<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <link href="/cssimg/common.css" rel="stylesheet" type="text/css"/>
    <link href="./cssimg/home.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript">
        s = (new Date()).getTime();
    </script>
</head>
<body>

<div id="wrapper">
    <div id="home-content">
        <form name="form_0_webadmin.user" action="__FORMACTION__" onsubmit="return script_juge(this);" method="post">
            <div id="home-sidebar">
                <div id="homes-login">
                    <div class="gutter">
                        <h2>用户登陆</h2>
                        <fieldset>
                            <div><label>用户名：</label><input type="text" name="uid_登录名称_textboxen_4_50_1_1" size="33" value="" onfocus="if (this.value=='输入注册邮箱') this.value='';"
                                                           onblur="if (this.value=='') this.value='输入注册邮箱';"/></div>
                            <div><label>密&nbsp;&nbsp;&nbsp;码：</label><input type="password" name="passwd_登录密码_textboxen_4_20_1_1" value="" size="33"/></div>
                            <div><label>验证码：</label><a href="javascript:;" onclick="document.getElementById('verification').src='/madeImg.php?r=' + ++s; return false;"><img id="verification"
                                                                                                                                                                             src="/madeImg.php"
                                                                                                                                                                             border="0"/></a>&nbsp;<input
                                    name="checkCode" type="text" size="5" style="margin-bottom: 18px;"/></div>
                            <div><label class="none">.</label><input type="checkbox" name="loginStatus"/>记住登录状态</div>
                            <div><label class="none">.</label><input class="btn" type="submit" value=" 登 录 "/> <!--a href="findpassword.html">忘记密码</a> <a href="register.html">注册用户</a--></div>
                        </fieldset>
                    </div>
                </div>
                <div id="homes-about">
                    <div class="gutter">
                        <h2>使用说明</h2>

                        <p>管理系统</p>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

</body>

</html>
